snippet !!!
	<!doctype html>
	<html ${1:lang="en"}>
	  <head>
	    <meta charset="utf-8">
	    <title>${2}</title>
	  </head>
	  <body>
	  </body>
	</html>
snippet x-handle
	<script type="text/x-handlebars" id="${1}">
	  ${2}
	</script>
