snippet ctxt
	context("${1}", ${2}
snippet desc
	describe("${1}", ${2}
snippet exp
	expose("${1}", ${2}
snippet ins
	insulate("${1}", ${2}
snippet it 
	it("${1}", ${2}
snippet a
	assert.${1}
snippet f
	function${1}
snippet l
	local ${1}
snippet lf
	local function${1}
snippet r
	return ${1}
