snippet fnpri
	private function ${1}(${2})
	{
	    ${3}
	}
snippet fnpro
	protected function ${1}(${2})
	{
	    ${3}
	}
snippet fn
	public function ${1}(${2})
	{
	    ${3}
	}
snippet fe
	foreach (${1} {2:as} ${3}) {
	    ${4}
	}
snippet @
	$this->${1}
snippet *
	/**
	 * ${1}
	 */
	${2}
snippet class
	class ${1} ${2:extends} ${3}
	{
	    ${4}
	}
snippet ?
	<?php
	${1}
	?>
