/ext/crystal/docs/
/ext/crystal/lib/
/ext/crystal/bin/
/ext/crystal/.shards/
*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/ext/crystal/shard.lock
/ext/crystal/bin/
